<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Iniciar Sesión</h2>
    <mat-form-field appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input id="username" matInput formControlName="email" type="email" placeholder="usuario@ejemplo.com" />
      @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
      <mat-error>
        Ingresa un correo válido.
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input id="password" matInput formControlName="password" type="password" placeholder="********" />
      @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
        <mat-error>
          La contraseña es obligatoria.
        </mat-error>
      }

    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Ingresar
    </button>
  </form>
</div>
