<div class="dashboard-container">
  <app-symbol-list class="symbol-strip"/>

  <section class="widgets-section">
    <app-price-card-widget [symbol]="'AAPL'"/>
    <app-candle-widget [symbol]="'AAPL'"/>
  </section>

  <section class="charts-section">
    <app-candle-chart class="main-chart" [candleData]="candles()" />
    <app-portfolio-area-chart class="area-chart" [data]="areaPoints()" />
    <app-line-chart class="line-chart" [data]="linePoints()" />
    <app-stacked-area-chart class="stacked-area-chart" [data]="stackedSeries()" />
    <app-bump-chart class="bump-chart" [data]="bumpSeries()" />
    <app-asset-allocation-chart class="pie-chart" [data]="allocation()" />
    <app-boxplot-chart class="boxplot-chart" [data]="boxplotData()" />
    <app-violin-chart class="violin-chart" [data]="violinData()" />
    <app-donut-chart class="donut-chart" [data]="donutSlices()" />
    <app-treemap-chart class="treemap-chart" [data]="treemapData()" />
    <app-sunburst-chart class="sunburst-chart" [data]="sunburstData()" />
  </section>
</div>
